# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
node_modules/
**/node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
**/.idea/
.project
.classpath
.c9/
*.launch
.settings/
**/.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
**/.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
**/.history/

# Miscellaneous
**/.angular/cache
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# JetBrains IDEs
*.iml
.idea/
**/.idea/

# Mac system files
.AppleDouble
.LSOverride

# Windows system files
Desktop.ini
$RECYCLE.BIN/

# Linux system files
*~
